{% extends 'Back/back.html.twig' %}
{% block search %}
    <div class="search-box">
        <form class="input">
            <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search"
                   id="input-31"/>
            <label class="input__label" for="input-31">
                <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                    <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                </svg>
            </label>
        </form>
    </div>
{% endblock %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">




    <h1>Liste des Livres</h1>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Auteur</th>

            <th>Nb d'emprunte</th>
            <th>quantite</th>
            <th>Description</th>
            <th>Image</th>
            <th>Nb Likes</th>
            <th>nb Dislikes</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>

        {% for cc in list %}
            <tr>
                <td scope="row">{{ cc.idLivre }}</td>
                <td>{{ cc.nom }}</td>
                <td>{{ cc.auteur }}</td>
                <td>{{ cc.nbpersonnes }}</td>
                <td>{{ cc.quantite }}</td>
                <td>{{ cc.description }}</td>
                <td class="fa-image" height="100px" width="200px" style="background-image: url('{{ asset('images/' ~ cc.image) }}')">
                <td>{{ cc.likes }}</td>
                <td>{{ cc.dislikes }}</td>

                <td>
                    <center><a class="fa fa-trash" id="delete" style="color: #ff6c5f" href="{{ path('DeleteLivre',{'id':cc.idLivre}) }}"></a></center>
                </td>
                <td>
                    <center><a class="fa fa-edit" style="color:#2e6da4 " href="{{ path('UpdateLivre',{'id':cc.idLivre}) }}"></a></center>
                </td>
            </tr>
        {% endfor %}
        <a href="imp" class="btn btn-info" >Imprimer</a>
    </table>
        </div>
    </div>
    </div>
{% endblock %}
