{% extends 'Back/back.html.twig' %}

{% block body %}
    <h1>Livre</h1>
    <table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Auteur</th>

        <th>Nb d'emprunte</th>
        <th>quantite</th>
        <th>Description</th>
        <th>Image</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

         <tr>
            <td scope="row">{{ livre.idLivre }}</td>
            <td>{{ livre.nom }}</td>
            <td>{{ livre.auteur }}</td>
            <td>{{ livre.nbpersonnes }}</td>
            <td>{{ livre.quantite }}</td>
            <td>{{ livre.description }}</td>
            <td class="fa-image" height="200px" width="300px" style="background-image: url('{{ asset('images/' ~ livre.image) }}')">





            <td>
                <center><a class="fa fa-edit" style="color:#2e6da4 " href="{{ path('UpdateLivre',{'id':livre.idLivre}) }}"></a></center>
            </td>
            <td>
                <center><a class="fa fa-trash" style="color: #ff6c5f" href="{{ path('DeleteLivre',{'id':livre.idLivre}) }}"></a></center>
            </td>
         </tr>



{% endblock %}