{% extends 'Back/back.html.twig' %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">

    <table class="table table-striped">
        {{ form_start(f) }}
        <tr>
            <td>{{ form_label(f.libelle) }}</td>
            <td>{{ form_widget(f.libelle) }}</td>
        </tr>
        <td></td>
        <td>{{ form_widget(f.Ajout , { 'attr': {'class': 'btn btn-info  '}} ) }}</td>
        {{ form_end(f) }}
    </table>
    </div>
    </div>
    </div>
{% endblock %}