{% extends 'Back/back.html.twig' %}
{% block body %}
{{ form_start(f) }}<tr>
    <td>{{ form_label(f.libelle) }}</td>
    <td>{{ form_widget(f.libelle) }}</td>
    </tr>

    <td></td>
    <td>{{ form_widget(f.Ajout,{'label':'Modifier','attr': {'class': 'btn btn-info  '}}) }}</td>
    {{ form_end(f)}}
{% endblock %}